.btn-theme{
    position: relative;
    border-radius: 0;
    font-size: 1.125rem;
    background-color: var(--color-theme);
    color: #fff;
    padding: 1.25rem 3.125rem;
    text-align: center;
    border:none
}
    .btn-theme .corner-topLeft{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
        border-top: 1px solid var(--color-white);
        border-left: 1px solid var(--color-white);


    }
    .btn-theme .corner-bottomRight{
        position: absolute;
        height: 20px;
        width: 20px;
        bottom: 10px;
        right: 10px;
        border-bottom: 1px solid var(--color-white);
        border-right: 1px solid var(--color-white);
    }
    .btn-theme:hover{
        background-color: var(--color-dark);
        color: #fff;
    }